*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-width: 1200px;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
}

.page-catalog {
  background-color: #849d8f;
}

.slider-input {
  display: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.slider-input:nth-child(1):checked ~ .page-home {
  background-image: url(../img/slide-1.png);
  background-color: #849d8f;

}

.slider-input:nth-child(2):checked ~ .page-home {
  background-image: url(../img/slide-2.png);
  background-color: #8996a6;
}

.slider-input:nth-child(3):checked ~ .page-home {
  background-image: url(../img/slide-3.png);
  background-color: #9d8b84;
}

.slider-input:nth-child(1):checked ~ .page-home .showcase-slide:nth-child(1),
.slider-input:nth-child(2):checked ~ .page-home .showcase-slide:nth-child(2),
.slider-input:nth-child(3):checked ~ .page-home .showcase-slide:nth-child(3) {
  display: block;
}

.slider-input:nth-child(1):checked ~ .page-home .btn-small:nth-child(1),
.slider-input:nth-child(2):checked ~ .page-home .btn-small:nth-child(2),
.slider-input:nth-child(3):checked ~ .page-home .btn-small:nth-child(3) {
  background: rgba(255, 255, 255, 1);
  color: #353535;
}

.page-home {
  background-position: top center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
}

.main-container-absolute {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -600px;
  height: 100%;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.item-link {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: inherit;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-menu {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: 40px;
}

.item-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #ffffff;
  margin: 0;
  list-style-type: none;
  line-height: 18px;
  padding: 7px 13px 6px;
  border-radius: 20px;
  border: none;
}

.item-link span {
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.item-link-selected span {
  border: none;
}

.item-link:hover span {
  border-color: transparent;
}

.item-link:hover,
.item-link:focus {
  background-color: #F7F6F3;
  color: #323232;
  border: none;
}

.item-link:active {
  background: -o-linear-gradient(bottom, #EDEDED, #EDEDED), rgba(248, 247, 244, 0.99);
  background: -webkit-gradient(linear, left bottom, left top, from(#EDEDED), to(#EDEDED)), rgba(248, 247, 244, 0.99);
  background: linear-gradient(0deg, #EDEDED, #EDEDED), rgba(248, 247, 244, 0.99);
  -webkit-box-shadow: inset 0 2px 1px #696969;
  box-shadow: inset 0 2px 1px #696969;
}

.item-link.item-link-selected {
  background-color: #d07058;
  border: none;
}

.item-link.item-link-selected:hover,
.item-link.item-link-selected:focus {
  color: #fff;
}

.menu-item {
  position: relative;
  padding: 4px 0;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 35px;
  min-width: 35px;
  padding: 0 16px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 4px;
  border-radius: 18.5px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #f8f7f4;
  color: #323232;
}

.button:hover .enter-icon,
.button:focus .enter-icon {
  background-image: url("../img/entrance-black.svg");
}

.button:hover .basket-icon,
.button:focus .basket-icon {
  background-image: url("../img/basket-black.svg");
}

.button:hover.button-search,
.button:focus.button-search {
  background-image: url("../img/loupe-black.svg");
}

.button-active {
  background-color: #f8f7f4;
  color: #323232;
}

.button-active .basket-icon,
.button-active:hover .basket-icon {
  background-image: url("../img/basket-red.svg");
}

.icon {
  width: 21px;
  height: 19px;
  margin-right: 7px;
  background-repeat: no-repeat;
  background-position: center;
}

.enter-icon {
  background-image: url("../img/entrance.svg");
}

.basket-icon {
  background-image: url("../img/basket.svg");
}

.button-search {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/loupe.svg");
}

.advantages {
  background-image: url("../img/background-wafer.png");
  padding: 23px 20px;
  margin-bottom: 40px;
  border-radius: 15px;
  background-color: #f5f5dc;
}

.advantages-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  margin: 0;
}

.advantages-list {
  list-style: none;
  color: #323232;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 -10px;
}

.advantages-icon {
  background-size: contain;
  width: 45px;
  height: 45px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.advantages-icon-icecream {
  background-image: url("../img/ice-cream.svg");
}

.advantages-icon-eco {
  background-image: url("../img/eco.svg");
}

.advantages-icon-cow {
  background-image: url("../img/cow.svg");
}

.advantages-icon-thermometer {
  background-image: url("../img/thermometer.svg");
}

.news-rubric {
  font-weight: 500;
}

.news-title {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.subscribition {
  color: #5A5A5A;
  background-color: #F8F7F4;
  padding-top: 18px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  line-height: 22px;
  border-radius: 10px;
}

.btn {
  font: inherit;
  font-weight: bold;
  font-size: 18px;
  height: 47px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #FEFEFE;
  text-align: center;
  background: -o-linear-gradient(bottom, #E74A35 0%, #F26843 100%);
  background: -webkit-gradient(linear, left bottom, left top, from(#E74A35), to(#F26843));
  background: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  -webkit-box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 22px;
  padding: 0 15px;
}

.btn:hover,
.btn:focus {
  background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), -o-linear-gradient(bottom, #E74A35 0%, #F26843 100%);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))), -webkit-gradient(linear, left bottom, left top, from(#E74A35), to(#F26843));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  -webkit-box-shadow: 0px 2px 2px #AC1000;
  box-shadow: 0px 2px 2px #AC1000;
}

.btn:active {
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), -o-linear-gradient(bottom, #F26843 0%, #E74A35 100%);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07))), -webkit-gradient(linear, left bottom, left top, from(#F26843), to(#E74A35));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(0deg, #F26843 0%, #E74A35 100%);
  -webkit-box-shadow: inset 0px 2px 2px #942718;
  box-shadow: inset 0px 2px 2px #942718;
}

.btn-large {
  font-size: 32px;
  height: 62px;
  background: -o-linear-gradient(bottom, #E74A35 0%, #F26843 100%);
  background: -webkit-gradient(linear, left bottom, left top, from(#E74A35), to(#F26843));
  background: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  -webkit-box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  padding: 0 40px;
  border-radius: 40px;
}

.input {
  font-size: 16px;
  line-height: 1;
  color: #000;
  background: #FFFFFF;
  border: 1px solid rgba(178, 178, 178, 0.52);
  font-family: Roboto, Arial, sans-serif;
  font-weight: bold;
  margin-right: 9px;
  padding-left: 17px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 47px;
}

.input::-webkit-input-placeholder { /* Edge */
  font-weight: 400;
  color: #999;
}

.input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-weight: 400;
  color: #999;
}

.input::placeholder {
  font-weight: 400;
  color: #999;
}

.input:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.textarea-comment::-webkit-input-placeholder { /* Edge */
  font-weight: 400;
  color: #999;
}

.textarea-comment:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-weight: 400;
  color: #999;
}

.textarea-comment::placeholder {
  font-weight: 400;
  color: #999;
}

.additional-information {
  font-size: 13px;
  line-height: 16px;
}

.extra-link,
.developer-link {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.link {
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 2px;
}

.link:hover,
.link:active {
  color: #FFBC9E;
  border-bottom-color: #FFBC9E;
}

.assortment-item {
  display: inline;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.social-links,
.extra-nav,
.developer-copyright {
  list-style: none;
}

.social-link,
.extra-link,
.developer-link {
  color: #ffffff;
}

.get-discount {
  text-align: right;
}

.suppliers-link {
  font-weight: bold;
}

.heart-icon {
  background-image: url("../img/heart.svg");
  height: 13px;
  width: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.social-link {
  width: 40px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.5);
}

.social-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  opacity: 0.8;
  border-radius: 50%;
}

.social-link:hover {
  border-color: rgba(255, 255, 255, 0.7);
}

.social-link:hover .social-icon {
  opacity: 1;
}

.social-link:active {
  border-color: rgba(255, 255, 255, 0.7);
}

.social-link:active .social-icon {
  opacity: 0.9;
}

.icon-twitter {
  background-image: url("../img/twitter.svg");
}

.icon-instagram {
  background-image: url("../img/instagram.svg");
}

.icon-facebook {
  background-image: url("../img/fb.svg");
}

.icon-vkontakte {
  background-image: url("../img/vk.svg");
}

.logo-academy {
  background-image: url("../img/logo-htmlacademy.svg");
  background-size: contain;
  width: 109px;
  height: 38px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.contacts {
  font-weight: bold;
}

.office-hours {
  font-size: 14px;
  line-height: 16px;
}

.phone {
  border: none;
  font-size: 22px;
  line-height: 24px;
}

.previous-link,
.current-section {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.breadcrumbs-item::after {
  content: '»';
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 5px;
}

.breadcrumbs-item:last-child::after {
  display: none;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.catalog-list {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

/*.ice-cream-name:nth-child(4) ~ .ice-cream-name {*/
/*  margin-top: -50px;*/
/*}*/

.assortment-link {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 20px;
}

.price {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  text-align: left;
  margin-top: -70px;
  margin-bottom: 20px;
}

.weight {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}

.showcase-slides {
  list-style: none;
}

.showcase-slide {
  display: none;
  font-weight: bold;
  font-size: 60px;
  line-height: 60.35px;
  text-align: center;
}

.stock-title {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.gift {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.store-address,
.working-hours {
  font-size: 14px;
  line-height: 20px;
}

.bold-text {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.blog-link {
  border-bottom: 1px solid #323232;
  color: #323232;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.link-page {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.link-page:hover {
  background: rgba(255, 255, 255, 0.2);
}

.link-page-active {
  color: #353535;
  background-color: #fff;
}

.link-page-active:hover {
  background-color: #fff;
}

.link-page:active {
  background: rgba(255, 255, 255, 1);
  color: #353535;
}

.btn-small {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
}

.btn-active {
  background: rgba(255, 255, 255, 1);
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.btn-small:hover {
  background: rgba(255, 255, 255, 0.4);
}

.filter-button {
  padding: 9px 29px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  -webkit-box-shadow: inset 0 0 0 2px #fff;
  box-shadow: inset 0 0 0 2px #fff;
  border-radius: 18px;
  cursor: pointer;
  outline: none;
}

.filters-apply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-left: 11px;
}

.filter-button:hover,
.filter-button:hover {
  color: #323232;
  background: rgba(255, 255, 255, 1);
}

.filter-button:active {
  background: #EDEDED;
  -webkit-box-shadow: inset 0px 2px 1px #696969;
  box-shadow: inset 0px 2px 1px #696969;
  color: #323232;
  border: none;
}

.pin {
  background-image: url("../img/pin.svg");
  width: 79px;
  height: 138px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 43%;
  bottom: 50%;
}

.page-next {
  background-image: url("../img/icon-right-small.svg");
  background-position: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-repeat: no-repeat;
  width: 7px;
  height: 12px;
}

.hit-list {
  list-style: none;
}

.icon-hit {
  background-image: url("../img/hit.svg");
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 61px;
  height: 61px;
}

.fatness,
.filler {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.filter-parameters {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.page-next {
  text-align: center;
  margin-left: 10px;
}

.page-previous {
  background-image: url("../img/Shape.svg");
  background-position: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-repeat: no-repeat;
  width: 7px;
  height: 12px;
  text-align: center;
  margin-right: 10px;
}

.title-subsection-page {
  margin: 0;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  padding-bottom: 30px;
}

.filter-product {
  margin-bottom: 40px;
}

.ice-cream-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  text-align: center;
  position: relative;
  margin-bottom: 27px;
}

.ice-cream-action {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: -80px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .2);
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 1;
  opacity: 0;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 21px;
  border-radius: 5px;
}

.page-footer,
.page-footer-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 17px;
  position: relative;
}

.page-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.3)
}

.social-links {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
}

.extra-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 320px;
}

.extra-nav-item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

.developer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.developer-copyright {
  font-size: 12px;
  line-height: 16px;
}

.social-item:not(:last-child) {
  padding-right: 10px;
}

.advantage {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  margin-top: 15px;
}

.advantage-item {
  margin-top: 10px;
  margin-left: 10px;
}

.news {
  width: 560px;
  padding-left: 23px;
  padding-top: 26px;
  color: #323232;
  background-image: url("../img/strawberry.png");
  background-color: #fff;
  border-radius: 15px;
}

.subscribition-container {
  width: 560px;
  border-radius: 15px;
  padding: 6px;
  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #F8F7F4;
}

.wrap-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}

.subscription-post {
  padding-bottom: 40px;
}

.form-subscribition {
  padding-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts {
  position: absolute;
  top: 100%;
  right: 0;
  text-align: right;
}

.suppliers-link {
  position: relative;
}

.suppliers-link::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: -22px;
  width: 16px;
  height: 16px;
  background: url("../img/heart.svg") no-repeat center;
}

.ice-cream-card {
  padding: 15px;
}

.pagination {
  margin-bottom: 40px;
  text-align: right;
}

.site-search {
  padding: 20px 15px;
  width: 344px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
}

.site-search:hover {
  display: block;
}

.user-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.user-nav li {
  position: relative;
}

.user-nav-popup {
  display: none;
  position: absolute;
  right: 0;
  z-index: 1;
}

.user-nav li:hover .user-nav-popup {
  display: block;
}

.input-search {
  height: 47px;
  width: 100%;
  border-radius: 5px;
  border: solid 1px #d3d3d2;
  background-color: #ffffff;
  padding: 0 17px;
  font-size: 14px;
  line-height: 24px;
}

.enter-site {
  width: 280px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 5px;
  padding-left: 19px;
  padding-right: 17px;
  padding-top: 20px;
  padding-bottom: 21px;
}

.input-enter {
  height: 47px;
  padding-left: 17px;
  width: 100%;
  margin-bottom: 20px;
  margin-right: 0;
}

.registration-item {
  list-style: none;
  font-size: 13px;
  line-height: 24px;
}

.registration-link {
  color: #323232;
  border-bottom: 1px solid #323232;
}

.site-enter-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.registration-list {
  margin: 0;
  padding: 0;
}

.registration-button {
  width: 103px;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: -9px;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
  border-radius: 10px;
  font-size: 14px;
  line-height: 16px;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;
}

.submenu-item:first-child .submenu-link {
  border-bottom: 1px solid #d3d3d2;
}

.submenu-link {
  color: #323232;
  padding: 10px 14px;
  display: block;
  margin: 0;
}

.submenu-item {
  padding: 0 8px;
}

.submenu-item:not(:first-child):hover,
.submenu-item:not(:first-child):focus {
  background-color: #fbded7;
}

.submenu-item:not(:first-child):active {
  background-color: #F6B5A5;
}

.submenu-item.submenu-item-active,
.submenu-item.submenu-item-active:hover,
.submenu-item.submenu-item-active:active {
  background-color: #d07058;
}

.submenu-item.submenu-item-active .submenu-link {
  color: #fff;
}

.menu-item:hover .submenu {
  display: block;
}

.basket-popup {
  width: 542px;
  background-color: #F8F7F4;
  -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  font-size: 13px;
  line-height: 16px;
  border-radius: 5px;
  padding: 0 13px 20px 13px;
}

.product-info,
.weight-and-price,
.total-price {
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.weight-and-price,
.total-price {
  white-space: nowrap;
}

.product-price {
  color: #999999;
}

.button-remove {
  background: url("../img/cross-small.svg") no-repeat center;
  width: 23px;
  height: 23px;
  background-size: 11px 11px;
  border: none;
}

.order-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.basket {
  width: 100%;
  border-spacing: 0;
  border-bottom: 1px solid #d3d3d2;
}

.basket td {
  padding: 11px 0;
  vertical-align: top;
}

.basket td.remove-product {
  padding-top: 16px;
}

.basket td.product-info,
.basket td.weight-and-price,
.basket td.total-price {
  padding-top: 20px;
}

.product-img {
  width: 33px;
  height: 33px;
}

.full-price {
  text-align: right;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #323232;
  margin: 10px 0;
}

.ice-cream-card {
  position: relative;
}

.icon-hit {
  position: absolute;
}

.ice-cream-name:hover .ice-cream-action {
  opacity: 1;
  display: flex;
}

.showcase {
  position: relative;
}

.showcase-slides {
  margin: 0;
  padding: 0;
  list-style: none;
}

.showcase-controls {
  position: absolute;
  left: 0;
  bottom: 0;
}

.showcase-slide {
  padding-top: 230px;
  text-align: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.showcase-slide-title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  margin-bottom: 23px;
}

.container-discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 70px;
}

.special-discount {
  width: 560px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  padding: 20px 20px 20px 25px;
}

.raspberry-discount {
  background-image: url("../img/rasberry-background.png");
  background-color: #DC143C;
}

.chocolate-discount {
  background-image: url("../img/background-chocolate.png");
  background-color: #45322e;
}

.stock-title {
  margin: 0;
  margin-bottom: 25px;
}

.gift {
  margin-bottom: 50px;
}

.map-contacts {
  position: absolute;
  width: 305px;
  background-color: rgba(255, 255, 255, 0.98);
  font-size: 14px;
  line-height: 20px;
  padding: 33px 24px;
  border-radius: 15px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 25px;
  z-index: 1;
}

.store-address,
.working-hours {
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  margin-bottom: 28px;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.driving-direction {
  position: relative;
  height: 430px;
  background-image: url(../img/map.png);
  background-size: cover;
  background-position: center;
}

.filters-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.filters-label {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filters-sort-fields {
  margin-right: 16px;
}

.filters-select-field {
  position: relative;
}

.filters-select {
  display: block;
  padding: 9px 33px 9px 15px;
  border: 0;
  border-radius: 18px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: inherit;
  background-color: rgba(248, 247, 244, 0.2);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}

.filters-select:hover,
.filters-select:focus {
  color: #323232;
}

.filters-select-indicator::after {
  content: "";
  position: absolute;
  top: 16px;
  right: 14px;
  width: 8px;
  height: 10px;
  border-top: 5px solid #fff;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 0;
  pointer-events: none;
}

.filters-select:hover + .filters-select-indicator::after,
.filters-select:focus + .filters-select-indicator::after {
  border-top-color: #333;
}

.filters-range {
  position: relative;
  height: 36px;
  padding: 16px 21px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
}

.filters-range-scale {
  height: 4px;
  background-color: rgba(248, 247, 244, 0.5);
}

.filters-range-value {
  height: 4px;
  margin-left: 16px;
  width: 106.5px;
  background-color: #f8f7f4;
}

.filters-range-btn {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 0 rgba(171, 171, 171, 0.3);
  box-shadow: 0 2px 0 rgba(171, 171, 171, 0.3);
  cursor: pointer;
}

.filters-range-btn:hover {
  width: 22px;
  height: 22px;
  border: 9px solid #fff;
}

.filters-btn-min {
  left: 44px;
}

.filters-btn-max {
  left: 142px;
}

.filters-price-fields {
  margin-right: 15px;
  width: 218px;
}

.filters-price-inputs {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filters-price-input {
  border: 0;
  background-color: transparent;
  font: inherit;
  color: #fff;
  width: 25px;
}

.filters-fatness-fields {
  width: 415px;
}

.filters-radio-inputs,
.filters-checkbox-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 18px;
  padding-left: 14px;
  padding-right: 10px;
}

.filters-checkbox-inputs {
  padding-left: 16px;
  padding-right: 10px;
}

.filters-checkbox-item,
.filters-radio-item {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.filters-checkbox-item {
  margin-right: 21px;
}

.filters-radio-item {
  margin-right: 17.5px;
}

.filters-checkbox-item:last-child,
.filters-radio-item:last-child {
  margin-right: 0;
}

.filters-radio {
  position: absolute;
  top: 7px;
  left: -1px;
  width: 22px;
  height: 22px;
  opacity: 0;
}

.filters-checkbox {
  position: absolute;
  top: 8px;
  left: 0;
  width: 20px;
  height: 20px;
  opacity: 0;
}

.filters-radio-label,
.filters-checkbox-label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 9px 0 9px 32px;
  cursor: pointer;
}

.filters-radio-label::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0px;
  width: 22px;
  height: 22px;
  border: 4px solid #fff;
  border-radius: 50%;
  opacity: 0.8;
}

.filters-radio:checked + .filters-radio-label::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 7px;
  width: 8px;
  height: 8px;
  background-color: #fff;
  opacity: 0.8;
  border-radius: 50%;
}

.filters-radio:not(:disabled) + .filters-radio-label:hover::before,
.filters-radio:not(:disabled) + .filters-radio-label:hover::after,
.filters-radio:focus + .filters-radio-label::before,
.filters-radio:focus + .filters-radio-label::after {
  opacity: 1;
}

.filters-radio:focus + .filters-radio-label::before,
.filters-checkbox:focus + .filters-checkbox-label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

.filters-checkbox:checked + .filters-checkbox-label::before {
  top: 8px;
  left: 0;
  width: 23px;
  height: 20px;
  background-image: url("../img/checkbox-on.svg");
  background-size: 23px 20px;
}

.filters-checkbox:not(:disabled) + .filters-checkbox-label:hover::before,
.filters-checkbox:not(:disabled) + .filters-checkbox-label:hover::after,
.filters-checkbox:focus + .filters-checkbox-label::before {
  opacity: 1;
}

.filters-checkbox-label::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 20px 20px;
  opacity: 0.8;
}

.filters-radio:disabled + .filters-radio-label,
.filters-checkbox:disabled + .filters-checkbox-label,
.filters-radio:disabled + .filters-radio-label::before,
.filters-radio:disabled + .filters-radio-label::after,
.filters-checkbox:disabled + .filters-checkbox-label::before {
  opacity: 0.4;
  cursor: default;
}

.modal {
  position: fixed;
  padding: 17px 25px 27px 24px;
  color: #323232;
  background-color: #f8f7f4;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  width: 500px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
  z-index: 100;
}

.popup-title {
  margin-bottom: 18px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.textarea-comment {
  width: 358px;
  min-height: 129px;
  padding: 17px;
  resize: none;
  font-weight: bold;
}

.input-name,
.input-email,
.textarea-comment {
  margin-bottom: 18px;
}

.input-name,
.input-email {
  width: 220px;
  height: 38px;
}

.popup-close {
  position: absolute;
  top: 15px;
  right: 16px;
  width: 18px;
  height: 17px;
  padding: 0;
  border: 0;
  text-indent: -1000px;
  background: transparent url("../img/cross-big.svg") no-repeat center;
  overflow: hidden;
  cursor: pointer;
}

.button-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
}

.modal-overlay::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

@keyframes bounce {
  0% {
    transform: translate(-50%, 0);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.modal-show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}

.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}
