*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial,sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  background-color: #849d8f;
}

input {
  font-family: Roboto, Arial,sans-serif;
  font-weight: 400;
  font-size: 16px;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

.item-link {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
}

.item-link:hover,
.item-link:focus {
  background-color: #f7f6f3;
  color: #323232;
}

.page-header {
  display: flex;
  padding: 9px 27px;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.menu-list > li {
  display: inline-flex;
  font-weight: 700;
  border-bottom: 1px solid rgba(255,255,255,.2);
  margin: 0;
  margin-right: 28px;
  padding: 0;
  list-style-type: none;
  line-height: 18px;
}

.button {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  min-width: 35px;
  padding: 8px 16px 8px 16px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 4px;
  border-radius: 18.5px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #f8f7f4;
  color: #323232;
}

.button:hover .enter-icon,
.button:focus .enter-icon {
  background-image: url("../img/entrance-black.svg");
}

.button:hover .basket-icon,
.button:focus .basket-icon {
  background-image: url("../img/basket-black.svg");
}

.button:hover.button-search,
.button:focus.button-search {
  background-image: url("../img/loupe-black.svg");
}

.button-active {
  background-color: #f8f7f4;
  color: #323232;
}
.button-active .basket-icon,
.button-active:hover .basket-icon {
  background-image: url("../img/basket-red.svg");
}

.menu-list {
  list-style: none;
}

.icon {
  width: 21px;
  height: 19px;
  margin-right: 7px;
  background-repeat: no-repeat;
  background-position: center;
}

.enter-icon {
  background-image: url("../img/entrance.svg");
}

.basket-icon {
  background-image: url("../img/basket.svg");
}

.button-search {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/loupe.svg");
}

.advantages {
  background-image: url("../img/background-wafer.png");
}

.advantages-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.advantages-list {
  list-style: none;
  color: #323232;
}

.advantages-icon {
  background-size: contain;
  width: 45px;
  height: 45px;
  display: inline-flex;
}

.advantages-icon-icecream {
  background-image: url("../img/ice-cream.svg");
}

.advantages-icon-eco {
  background-image: url("../img/eco.svg");
}

.advantages-icon-cow {
  background-image: url("../img/cow.svg");
}

.advantages-icon-thermometer {
  background-image: url("../img/thermometer.svg");
}

.news {
  color: #323232;
  background-image: url("../img/ice cream with strawberry.png");
}

.news-rubric {
  font-weight: 500;
}

.news-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.subscribition {
  color: #5A5A5A;
  background-color: #F8F7F4;
}

.btn {
  font: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #FEFEFE;
  text-align: center;
  background: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
}

.btn:hover,
.btn:focus {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  box-shadow: 0px 2px 2px #AC1000;
}

.btn:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(0deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

.input {
  font-size: 16px;
  line-height: 1;
  font-weight: bold;
  color: #000;
  background: #FFFFFF;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.input:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.input:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.additional-information {
  font-size: 13px;
  line-height: 16px;
}

.extra-link,
.developer-link {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.link {
  color: #ffffff;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  padding-bottom: 2px;
}

.link:hover,
.link:active {
  color: #FFBC9E;
  border-bottom-color: #FFBC9E;
}

.assortment-item {
  display: inline;
}

.social-links,
.extra-nav,
.developer-copyright {
  list-style: none;
}

.social-link,
.extra-link,
.developer-link {
  color: #ffffff;
}



.suppliers-link {
  font-weight: bold;
}

.heart-icon {
  background-image: url("../img/heart.svg");
  height: 13px;
  width: 15px;
  display: inline-flex;
}

.social-icon {
  width: 40px;
  height: 40px;
  display: inline-flex;
  border-radius: 50%;
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0.3);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
}

.social-icon:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.7);
}
.social-icon:active {
  border-color: rgba(255, 255, 255, 0.3);
  opacity: 0.9;
}

.icon-twitter {
  background-image: url("../img/twitter.svg");
}

.icon-instagram {
  background-image: url("../img/instagram.svg");
}

.icon-facebook {
  background-image: url("../img/fb.svg");
}

.icon-vkontakte {
  background-image: url("../img/vk.svg");
}

.logo-academy {
  background-image: url("../img/logo-htmlacademy.svg");
  background-size: contain;
  width: 109px;
  height: 38px;
  display: inline-flex;
}

.contacts {
  font-weight: bold;
}

.office-hours {
  font-size: 14px;
  line-height: 16px;
}

.phone {
  border: none;
  font-size: 22px;
  line-height: 24px;
}

.previous-link {
  color: #ffffff;
}

.breadcrumbs {
  list-style: none;
}

.item-link-selected {
  background-color: #d07058;
}

.catalog-list {
  list-style: none;
}

.assortment-link {
  font-weight: 500;
  color: #ffffff;
}

.price {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
}

.weight {
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}

.subscribition-container {
  padding: 6px;
  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;
  background-size: cover;
}



